@media(max-width:670px){
    .wrapper {
        width: 100%;
    }

    .head-list {
        display: none;
    }
    
   .hero-image {
    margin: 0 auto;
   }
   .hero-text {
    text-align: center;
    word-break:normal;
    }
   .hero-text h2 {
    width: 100%;
    font-size: 25px;
    
    }
    .hero-image p {
        font-size: 20px;
        
    }
    .service-row img {
        width: 50%;
    }
    .servicebtn{
       margin-left: 50px;
    }
    .reason {
        text-align: center;
    }
    .reason-textcenter {
        padding:25px;
        margin-right: 0;
    }
    /* .reasonbtn {
        margin-left:50px;
    } */
    .footer {
        width: 100%;
        flex-direction: column; 
        justify-content: flex-start;
    }
    .fot-logo {
        margin: 0 auto;
        padding-right: 0;
    }
    .box-adress {
        padding: 25px 0;
    }
}


@media(max-width:1150px) {
    /*モーダル*/
  .signup-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }

    header {
        width: 100%;
        justify-content:space-between;
        margin: 0 auto;
    }
    .head-list {
        display: none;
    }
    .hanbar {
        display: block;
        padding-right: 20px;
    }
    .hero-image {
        width: 100%;
    }
    .hero-text h2 {
        font-size: 25px;
    }
    .hero-image p {
        font-size: 10px;
    }
    .heikei {
        width: 100%;
        background-image: none;
    }
    .service-text {
        width: 100%; 
        padding:0 30px;   
    }
    .service-text p{
        margin-bottom:10px;
    }
    .service-wrapper {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
       
    }
    .service-row {
        width: 100%;
        display: flex;
        flex-direction:row;
        padding:30px auto ;
        height: 200px; 
        box-shadow: none;
    }
    .bottom-text {
        font-size: 13px;
    }
    .btn {
        width:300px;
    }
    
    .reasonbtn {
        background-color: #092c54;
    }
    
    .reason-text {
        width: 100%;
        opacity: 0.7;
    }

    .infos {
        width: 100%;
        margin: 50px auto;
        font-size: 0.8em;
    }

    .in-le-wp {
        width: 100%;
        box-sizing: border-box;
    }
    .in-ri-wp {
        width: 100%;
    }
    .combtn,
    .recbtn {
        margin: 20px auto;
        
    }
    .recbtn {
        margin-bottom: 80px;
    }

    .news {
        padding: 20px;
    }
    .news-bord {
        font-size: 0.8em;
       
    }
    .news-bord td {
        padding: 20px 0;
    }
    .news-title {
        margin:0 0 20px 0;
        border-bottom: 1px solid #ddd;
        width: 50%;
        text-align: center;
        padding: 20px;
    }
    .contact {
        font-size: 0.8em;
        width: 100%;
    }
    
    .fot-logo {
        padding-bottom: 50px;
    }
    .box-adress {
    margin: 0 auto;
    }
   
    .fot-list {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .fot-list a {
        font-size:10px;
        padding-left:0;
        border-bottom: 1px solid #ddd;
        display: inline-block;
        text-align: center;
        
    }

    .fot-wrapper {
        width: 100%;
        
        flex-direction: column;
        justify-content: center;
        line-height:65px;
        margin: 0 auto;
    }
    .fot-left,
    .fot-right {
        font-size: 0.5px;
    }
    footer {
        height: auto;
    }
    /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝
　　 アコーディオン メニュー
    ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
    /* バーカー */
.burger {
    width: 60px;
    height: 60px;
    background-image: url(burger.png);
    background-size: 44px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 20px 0 80px;
    cursor: pointer;
    /* バーガーを押下した後もバーガーを隠さない */
    position: relative;
    z-index: 2;
}
.burger:hover {
    background-color: rgb(156, 170, 226);
    border-radius: 4px;
}
.burger.is-active {
    background-image: url(close.png)   
}


.menu {
    /* vh画面の高さ、vw幅一杯 */
    width: 100vw;
    height: 100vh;
    color: rgb(250, 244, 244);
    background-color:tomato;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 特定の位置に固定 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;  
}
.menu.is-active {
    display: flex;
}
.menus{
    display: block;
    font-size:20px;
    font-weight: 900;
    border-bottom: 1px solid #f4f6f8;
}
.click-head a {
    color: #f5f8f9;
    padding: 20px;
}
}
